.box{
	margin-left:30%;
	margin-bottom:200px;
	margin-right: 30%;
	margin-top:200px;
	background-color: white;
}
body{
	background-color: blue;
}
h1{
	margin-left: 2%;
}
button{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 0 -3px rgb(0,95,249) inset;
	background: rgb(0,95,249); 
}

